<article class="container bg-info">
  <h1>取引先情報</h1>
  <ul>
      <li class="col-xs-12 col-sm-6 col-md-4">株式会社ABC</li>
      <li class="col-xs-12 col-sm-6 col-md-4">株式会社DEF</li>
      <li class="col-xs-12 col-sm-6 col-md-4">GHI株式会社</li>
      <li class="col-xs-12 col-sm-6 col-md-4">（株）JKL</li>
      <li class="col-xs-12 col-sm-6 col-md-4">MN（株）</li>
      <li class="col-xs-12 col-sm-6 col-md-4">OPQ（株）</li>
  </ul>
</article>

<article class="container bg-success">
  <h1>お知らせ</h1>
  <ul>
      <li class="col-xs-12 col-sm-6 col-md-3">ソリューション「ZiDOMA data」のユーザー事例がIT Search＋に掲載されました。</li>
      <li class="col-xs-12 col-sm-6 col-md-3">ソリューション「ZiDOMA data」の紹介ページをリニューアルしました。</li>
      <li class="col-xs-12 col-sm-6 col-md-3">～キャリア採用72%が社員紹介による入社～ 採用活動に関するプレスリリースを配信しました。</li>
      <li class="col-xs-12 col-sm-6 col-md-3">弊社広報担当が読売新聞のくらし・家庭面で、働く女性をテーマにした「Woman」に掲載されました。</li>
  </ul>
</article>

<article class="container bg-warning">
  <button type="button" class="btn btn-danger">危険人物</button>

  <div class="card" style="width: 18rem;margin:20px;">
    <img class="card-img-top" src="/assets/girls.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

</article>
