<!DOCTYPE html>
<html>
  <head>
    <title>Blogs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">TOP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">取引先情報</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">お知らせ</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer>
      フッター
    </footer>
  </body>
</html>
